<!-- templates/playlists_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/'>HOME</a>
<h1>{{ playlist.title }}</h1>
<h2>{{ playlist.description }}</h2>
{% for video in playlist.videos %}
    <iframe width='900' height='415' src='{{ video }}'></iframe>
{% endfor %}
<br />
<hr>


<!-- # Add this link -->
<p><a href='/playlists/{{ playlist._id }}/edit'>Edit</a></p>

<!-- BUTTON -->
<form action='/playlists/{{ playlist._id }}/delete' method='POST'>
    <input type="submit" value="Delete">
</form>

<!-- Comment form -->
{% include 'partials/comment_form.html' %}



{% for comment in comments %}

{% include 'partials/comment.html' %}
    

{% endfor %}

    
{% endblock %}
